{% load static %}
<div style="width:98%;overflow:auto;">
{% if c_activity == "container_network" %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Response from docker.
    </div>
{%if http_resp_code == 200 %}
Success. Container added to network with ID <strong>{{c_parameter}}</strong>.<br>
<pre id="pre_create_network">{{full_response}}</pre>
{%elif http_resp_code == 403 %}
Operation not supported for swarm scoped networks.
{%elif http_resp_code == 404 %}
Network or container not found
{%else%}
<pre id="pre_create_network">{{full_response}}</pre>
{%endif%}
{%endif%}


{%if c_activity == "delete_unused_networks"%}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Response from docker.
    </div>
<pre id="pre_inspect_network">{{orig_response}}</pre>
{%endif%}



{% if c_activity == "create_network" %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Response from docker.
    </div>
<pre id="pre_create_network">{{full_response}}</pre>
{%endif%}

{% if c_activity == "inspect_network" %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Response from docker
    </div>
<pre id="pre_inspect_network">{{full_response}}</pre>
{%endif%}
{% if c_activity == "list_networks" or c_activity == "delete_network" or c_activity == "network_disc" %}


{%if c_activity == "delete_network"%}
{%if orig_code == 204 %}
Network with id <strong>{{c_parameter}}</strong> deleted.<br>
{%endif%}
<pre id="pre_inspect_network">{{orig_response}}</pre>
{%endif%}

{%if c_activity == "network_disc"%}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
Response on disconnecting container from network.
</div>
{%if http_resp_code == 200 %}
Success. Container removed from network with ID <strong>{{c_parameter}}</strong>.<br>
{%elif http_resp_code == 403 %}
Operation not supported for swarm scoped networks
{%elif http_resp_code == 404 %}
Network or container not found.
{%else%}
<pre id="pre_inspect_network">{{full_response}}</pre>
{%endif%}
{%endif%}





{%if c_activity == "delete_network" or c_activity == "list_networks"%}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Network List
    </div>
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="contdata-network">
<thead>
<tr>
<th>
  Name
</th>
<th>
Created
</th>
<th>
Scope
</th>
<th>
Driver
</th>
<th>
</th>
<th>
</th>
<th>
</th>
<th>
</th>
</tr>
</thead>
{%for item in network_dict%}
<tr>
<td>
{{item.Name}}
</td>
<td>
{{item.Created}}
</td>
<td>
{{item.Scope}}
</td>
<td>
{{item.Driver}}
</td>
<td>
<a id="inspect_network" title="Inspect Network" href="#" onclick="containerOperations('inspect_network','{{item.Id}}');return false;"><img alt="Inspect Network" src="{%static '/images/eye.svg' %}" height="14px" width="14px"></a>
</td>
<td>
<a id="connect_container_network" title="Connect container to network" href="#" onclick="containerOperations('connect_container_network','{{item.Id}}');return false;"><img alt="Connect container to network" src="{%static '/images/object-group.svg' %}" height="14px" width="14px"></a>
</td>
<td>
<a id="disconnect_container_network" title="Disconnect container from network" href="#" onclick="containerOperations('disconnect_container_network','{{item.Id}}');return false;"><img alt="Disconnect container from network" src="{%static '/images/arrow-alt-circle-down.svg' %}" height="14px" width="14px"></a>
</td>
<td>
<a id="delete_network" title="Delete Network" href="#" onclick="containerOperations('delete_network','{{item.Id}}');return false;"><img alt="Delete Network" src="{%static '/images/trash-alt.svg' %}" height="14px" width="14px"></a>
</td>
</tr>
{%endfor%}
</table>
{%endif%}
{%endif%}

{% if c_activity == "connect_container_network" or c_activity == "disconnect_container_network" %}
{% if len == 1 %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
There is  <strong> {{len}} </strong> container.
</div>
{%endif%}

{% if len == 0 %}
  <div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
  There are  <strong> no containers to connect to network.
  </div>
{%endif%}

{% if len > 1 %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
There are  <strong> {{len}} </strong> containers.
</div>
{%endif%}

{% if len >= 1 %}
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="contdata-contnetwork">
<thead>
  <tr>
  <td>
  Id
  </td>
  <td>
  Name
  </td>

  <td>
  Status
  </td>


   {%if c_activity == "disconnect_container_network" %}
      <td>
  Force disconnect?
  </td>
  <td></td>
  <td></td>
  {%else%}
  <td>
  </td>
  <td></td><td></td><td></td><td></td>
  {%endif%}
  </tr>
  </thead>
{% for p in resp%}

<tr>
<td>
{{p.Id | slice:"0:12"}}
</td>
<td>
{{p.Names}}
</td>

{% if p.State == "running" %}

  <td>
  <span class="running-dot"></span> {{p.Status}}
  </td>
  {% elif p.State == "exited" or p.State == "dead" %}
  <td>
  <span class="exited-dot"></span> {{p.Status}}
  </td>
  {% elif p.State == "restarting" or p.State == "removing" %}
  <td>
  <span class="exited-dot"></span> {{p.Status}}
  </td>
  {% elif p.State == "paused" %}
  <td>
  <span class="paused-dot"></span> {{p.Status}}
  </td>
  {% elif p.State == "created" %}
  <td>
  <span class="created-dot"></span> {{p.Status}}
  </td>
{% else %}
<td>
<span class="others-dot"></span> {{p.Status}}
</td>
{% endif %}

<td id="network"></td>
{% if c_activity == "connect_container_network" %}
<td><a id="container_network" title="Connect container to network" href="#" onclick="networkOperations('container_network','{{c_parameter}}','{{p.Id | slice:"0:12"}}','txt_endpoint_config{{p.Id}}');return false;"><img alt="Connect container to network" src="{%static '/images/share-square-colored.png' %}" height="14px" width="14px"></a></td>
<td><a id="additional_network_settings" title="Additional network settings" href="#" onclick="networkSettings('txt_endpoint_config{{p.Id}}','pre_endpoint_config{{p.Id}}');return false;">Network settings</a></td>
<td>
<textarea id="txt_endpoint_config{{p.Id}}" rows="8" cols="20" hidden></textarea>
</td>
<td class="w3-small">
<pre id="pre_endpoint_config{{p.Id}}" rows="8" cols="20" hidden>
  End point configuration. If you are not sure leave blank.
  Here is a sample from docker API docs.
  {
  "IPAMConfig": {
  "IPv4Address": "172.24.56.89",
  "IPv6Address": "2001:db8::5689"
  }
  }
<a id="generateOptions" title="Generate Options" href="#" onclick="generateEndpointOptions('txt_endpoint_config{{p.Id}}');return false;"><img alt="Generate Options" src="{%static '/images/copy.svg' %}" height="14px" width="14px"></a>
</pre>
</td>
{%endif%}
{% if c_activity == "disconnect_container_network" %}
<td><a id="container_network_remove" title="Disconnect a container from a network" href="#" onclick="networkOperations('network_disc','{{c_parameter}}','{{p.Id | slice:"0:12"}}','txt_endpoint_config{{p.Id}}');return false;"><img alt="Disconnect a container from a network" src="{%static '/images/minus-square-colored.png' %}" height="14px" width="14px"></a></td>

<td><label>No</label>
  <input type="radio" checked="checked" name="Force{{p.Id | slice:"0:12"}}" value="false"><label>Yes</label>
  <input type="radio" name="Force{{p.Id | slice:"0:12"}}" value="true"></td>
  {%endif%}
</tr>

{%endfor%}
</table>
{%endif%}

{% endif%}

{% if c_activity == "create_network_form" %}
<div style="margin-top:5px;margin-bottom:5px;height:30px;background-color:#7E577A;color:#FFFFFF;font-size: 12px;border-radius: 3px 3px 0 0;padding:5px;">
    Create Network.
    </div>
<table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white" id="contdata">
<tr>
<td>
<label id="lbl_create_network"><strong>Name</strong> </label>
</td>
<td colspan=2>
<input type="text" id="txt_network_name">
</td>
</tr>



<tr><td>CheckDuplicate</td><td><label>No</label>
  <input type="radio" checked="checked" name="CheckDuplicate" value="false"><label>Yes</label>
  <input type="radio" name="CheckDuplicate" value="true"></td>
  <td class="w3-small">Check network for duplicate names.</td>
</tr>


<tr>
<td>
<label id="lbl_driver_network">Driver </label>
</td>
<td>
<input type="text" id="txt_driver_network" value="bridge">
</td>
<td class="w3-small">
Default driver is bridge. Leave as is if you are not sure.
</td>
</tr>

<tr><td>Internal</td><td><label>No</label>
  <input type="radio" checked="checked" name="Internal" value="false"><label>Yes</label>
  <input type="radio" name="Internal" value="true"></td>
  <td class="w3-small">Used to restrict external access to the network.</td>
</tr>

<tr><td>Attachable</td><td><label>No</label>
  <input type="radio" checked="checked" name="Attachable" value="false"><label>Yes</label>
  <input type="radio" name="Attachable" value="true"></td>
  <td class="w3-small">Allow workers in a swarm to attach to network.</td>
</tr>

<tr><td>Ingress</td><td><label>No</label>
  <input type="radio" checked="checked" name="Ingress" value="false"><label>Yes</label>
  <input type="radio" name="Ingress" value="true"></td>
  <td class="w3-small">If in swarm mode,provide routing-mesh.</td>
</tr>

<tr>
<td>
<label id="lbl_IPAM">IPAM </label>
</td>
<td>
<textarea id="txt_ipam" rows="12" cols="30" style="display:block;"></textarea>
</td>
<td class="w3-small">
IPAM values. If you are not sure, leave blank. Here is example. Here is example from docker API docs.
<pre>
  {
  "Driver": "default",
  "Config": [
  {
  "Subnet": "172.20.0.0/16",
  "IPRange": "172.20.10.0/24",
  "Gateway": "172.20.10.11"
  },
  {
  "Subnet": "2001:db8:abcd::/64",
  "Gateway": "2001:db8:abcd::1011"
  }
  ],
  "Options": {
  "foo": "bar"
  }
  }
</pre>
<br>
<a id="generateIPAM" title="Generate IPAM" href="#" onclick="generateIPAM();return false;"><img alt="Generate IPAM data" src="{%static '/images/copy.svg' %}" height="14px" width="14px"></a>
</td>
</tr>

<tr><td>EnableIPv6</td><td><label>No</label>
  <input type="radio" checked="checked" name="EnableIPv6" value="false"><label>Yes</label>
  <input type="radio" name="EnableIPv6" value="true"></td>
  <td class="w3-small">Enable IPv6.</td>
</tr>

<tr>
<td>
<label id="lbl_options">Options</label>
</td>
<td>
<textarea id="txt_options" rows="12" cols="30" style="display:block;"></textarea>
</td>
<td class="w3-small">
Network options. If you are not sure, leave blank.  Here is example from docker API docs.
<pre>
  {
  "com.docker.network.bridge.default_bridge": "true",
  "com.docker.network.bridge.enable_icc": "true",
  "com.docker.network.bridge.enable_ip_masquerade": "true",
  "com.docker.network.bridge.host_binding_ipv4": "0.0.0.0",
  "com.docker.network.bridge.name": "docker0",
  "com.docker.network.driver.mtu": "1500"
  }
</pre>
<br>
<a id="generateOptions" title="Generate Options" href="#" onclick="generateNetworkOptions();return false;"><img alt="Generate Options" src="{%static '/images/copy.svg' %}" height="14px" width="14px"></a>
</td>
</tr>

<tr>
<td>
<label id="lbl_label_opts ">Labels</label>
</td>
<td>
<textarea id="txt_label_opts" rows="12" cols="30" style="display:block;"></textarea>
</td>
<td class="w3-small">
Key/Value metadata. If you are not sure, leave blank. Here is example.
<pre>
  {
  "network_use": "database",
  "organization": "Africa Software Group"
  }
</pre>
<br>
<a id="generateLabels" title="Generate Label" href="#" onclick="generateNetworkLabels();return false;"><img alt="Generate Network Labels" src="{%static '/images/copy.svg' %}" height="14px" width="14px"></a>
</td>
</tr>


<tr>
<td colspan="3">
<input class="w3-button w3-black" id="btn_create_network" type="button" value="Submit" onclick="containerOperations('create_network','none');return false;">
</td>
</tr>
</table>
{%endif%}
</div>
